:root { 
--gray_600:#6b7472; 
--purple_100:#e4a8e1; 
--gray_700:#666c6b; 
--blue_gray_100:#d9d9d9; 
--red_700:#db2323; 
--cyan_800_a5:#018194a5; 
--gray_900:#242727; 
--gray_900_01:#1d1e1e; 
--light_blue_500:#00b7eb; 
--light_blue_500_33:#00b7eb33; 
--gray_300:#e4e3e3; 
--light_blue_500_63:#00b7eb63; 
--white_A700_99:#ffffff99; 
--black_900_01:#0e0e0e; 
--black_900:#0a0a0a; 
--light_blue_500_0c:#00b7eb0c; 
--light_blue_500_a5:#00b7eba5; 
--deep_purple_A200:#9164f1; 
--gray_700_02:#5e6666; 
--white_A700:#ffffff; 
--gray_700_01:#5b5b5a; 
--black_900_bf:#000000bf; 
}