
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/PTSansBold.ttf"); font-family : "PT Sans"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/PTSansRegular.ttf"); font-family : "PT Sans"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/PTSansBoldItalic.ttf"); font-family : "PT Sans"; font-weight : 700;  }